<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.a11455.apagcp_criminalintent">

    <!--代码清单13-1 各种manifest配置项-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_super"
        android:label="@string/app_name_cn"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!--代码清单 11-5 添加CrimePagerActivity到manifest配置文件-->
        <!--代码清单 13-11 启动向上按钮-->
        <activity
            android:name=".Activity.CrimePagerActivity"
            android:parentActivityName=".Activity.CrimeListActivity">

        </activity>
        <!-- 代码清单8-12 声明CrimeListActivity -->
        <activity android:name=".Activity.CrimeListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.CrimeActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>